@page "/Tunnels"
@using Tunnlr.Client.Core.Models
@using Tunnlr.Client.Core.Services
@using Tunnlr.Client.Persistence
@using Tunnlr.Client.Web.Components.AddTunnel
@using Microsoft.EntityFrameworkCore
@using Tunnlr.Client.Web.Components.Dialogs.GenericDialog
@inject TunnelService TunnelService
@inject TunnlrClientDbContext ClientDbContext
@inject IDialogService DialogService
@inject NavigationManager Navigation
<PageTitle>Tunnlr</PageTitle>
@implements IDisposable
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-16 pt-16">

    <h3>Tunnels</h3>

    <MudTable Items="@_tunnels" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Target URI</MudTh>
            <MudTh>Served from</MudTh>
            <MudTh>Requests</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            @{
                var badgeCount = context.RequestInterceptors.Count(x => x.Enabled) + context.ResponseInterceptors.Count(x => x.Enabled);
            }
            <MudTd DataLabel="Target URI">@context.TargetUri
                @if (context.ReservedDomain is not null)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Language" Style="opacity: 0.5" Href="/reserved-domains"/>
                }
            </MudTd>
            <MudTd DataLabel="Served from"><MudLink Href="@context.ServedFrom" Target="_blank">@context.ServedFrom</MudLink></MudTd>
            <MudTd DataLabel="Requests"><MudLink Href="@($"/tunnels/{context.TunnelId}/requests")">@context.Requests.Count</MudLink></MudTd>
            <MudTd DataLabel="Actions">
                <MudToggleIconButton Toggled="@(context.Status == TunnelStatus.Started)"
                                     ToggledChanged="() => StartOrStopTunnel(context)"
                                     Icon="@Icons.Material.Filled.Start" Color="@Color.Success" Title="Start"
                                     ToggledIcon="@Icons.Material.Filled.Stop" ToggledColor="@Color.Error" ToggledTitle="Stop"/>
                <MudBadge Content="@badgeCount" Overlap="true" Visible="@(badgeCount > 0)">
                    <MudIconButton Href="@($"tunnels/{context.TunnelId}/interceptors")"
                                   Icon="@Icons.Material.Filled.AltRoute"
                                   aria-label="interceptors"/>
                </MudBadge>
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               OnClick="() => DeleteTunnel(context)"
                               aria-label="delete"/>
            </MudTd>
        </RowTemplate>
    </MudTable>
    @if (!_showCreateTunnel)
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => _showCreateTunnel = !_showCreateTunnel">Create tunnel</MudButton>
    }
    else
    {
        <AddTunnel OnUpdate="LoadData" />   
    }

</MudContainer>

@code {
    private bool _loading = true;
    private bool _showCreateTunnel;
    private bool _isAuthenticated = false;
    
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        TunnelService.ChangedEvent += OnTunnelStateChange;
        LoadData();
        if (AuthenticationState is not null)
        {
            var authState = await AuthenticationState;
            var user = authState.User;

            _isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        }
    }

    private void LoadData()
    {
        _tunnels = ClientDbContext.Tunnels
            .Include(x => x.RequestInterceptors)
            .Include(x => x.ResponseInterceptors)
            .Include(x => x.ReservedDomain)
            .ToList().Select(x =>
        {
            var activeTunnel = TunnelService.ActiveTunnels.FirstOrDefault(tunnel => tunnel.Key == x.Id).Value;

            if (activeTunnel is not null)
            {
                activeTunnel.ChangedEvent += OnRequestsChange;
                return activeTunnel;
            }

            return new Tunnel
            {
                TunnelId = x.Id,
                TargetUri = x.TargetUri,
                Status = TunnelStatus.Stopped,
                ReservedDomain = x.ReservedDomain is not null
                    ? new ReservedDomain
                        {
                            Domain = x.ReservedDomain.Domain,
                        } 
                    : null,
                ResponseInterceptors = x.ResponseInterceptors.ToList(),
                RequestInterceptors = x.RequestInterceptors.ToList()
            };
        }).ToList();

        _showCreateTunnel = false;
        _loading = false;

        StateHasChanged();
    }

    private async Task DeleteTunnel(Tunnel tunnel)
    {
        var parameters = new DialogParameters<GenericDialog>
        {
            { x => x.ContentText, "Are you sure you want to delete this tunnel?" },
            { x => x.ButtonText, "Delete" },
            { x => x.Color, Color.Error }
        };

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialogReference = await DialogService.ShowAsync<GenericDialog>("Delete tunnel", parameters, options);
        var result = await dialogReference.Result;
        
        if (result.Canceled) return;
        
        if (tunnel.Status is not TunnelStatus.Stopped) DestroyTunnel(tunnel);
        
        var dbTunnel = await ClientDbContext.Tunnels.FindAsync(tunnel.TunnelId);
        if (dbTunnel is not null)
        {
            ClientDbContext.Tunnels.Remove(dbTunnel);
            await ClientDbContext.SaveChangesAsync();
        }
        
        LoadData();
    }
    
    private List<Tunnel> _tunnels = new();

    public void StartOrStopTunnel(Tunnel tunnel)
    {
        switch (tunnel.Status)
        {
            case TunnelStatus.Started:
                DestroyTunnel(tunnel);
                break;
            case TunnelStatus.Stopped:
                CreateTunnel(tunnel);
                break;
        }
    }

    private void CreateTunnel(Tunnel tunnel)
    {
        if (tunnel.ReservedDomain is not null && !_isAuthenticated)
        {
            Navigation.NavigateTo("/login", true);
            return;
        }
        
        TunnelService.CreateTunnel(tunnel);
    }

    private void DestroyTunnel(Tunnel tunnel)
    {
        TunnelService.DestroyTunnel(tunnel);
    }

    private void OnTunnelStateChange(object? sender, EventArgs e)
    {
        InvokeAsync(LoadData);
    }
    
    private void OnRequestsChange(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TunnelService.ChangedEvent -= OnTunnelStateChange;
        foreach (var tunnel in _tunnels)
        {
            tunnel.ChangedEvent -= OnRequestsChange;
        }
    }
}